.Second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 60%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
}

.header {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
}
.secondImg {
  width: 340px;
  margin: auto;
}
.textArea {
  color: black;
  margin: auto;
  margin-left: 3rem;
  max-width: 520px;
}

.textArea :nth-child(1) {
  color: #947f5f;
  margin: 0;
}

.textArea :nth-child(3) {
  font-size: 1.3rem;
}

@media (max-width: 640px) {
  .Second {
    flex-wrap: wrap;
  }
  .Second :nth-child(1) {
    order: 2;
  }
  .Second :nth-child(2) {
    order: 1;
  }
  .textArea {
    margin-top: 15rem;
  }
  .secondImg {
    margin-top: 3rem;
  }
}
